* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  color: black;
  font-family: monospace;
}
main{
    height: 100vh;
    width: 100vw;
    background-image: url('https://images.pexels.com/photos/730256/pexels-photo-730256.jpeg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 650px;
    width: 1300px;
    background:url('https://images.unsplash.com/photo-1483921020237-2ff51e8e4b22?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    background-position: center;
    background-size: cover; 
    display: flex;
}
.left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 20px;
    border-radius: 50px 0 0 50px;
    height: 100%;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.03);
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}
.right-side{
    width: 50%;
    height: 100%;
}
.left-side,.right-side{
    float: none;
}

.left-side{
    font-size: 15px;
    
}
.left-nav{
    display: flex;
    padding: 20px;
    gap: 30px;
    margin-left: 5%;
}
.icons{
    font-size: 24px;
} 
.right-side{
    font-size: 15px;
    font-weight: 200;
}
.right-nav{
    display: flex;
    padding: 20px;
    gap: 30px;
     font-size: 12px;
    font-weight: 200;
    margin-left: 12%;
    color: black;
}

.section-right h2{
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%) rotate(270deg);
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 8px;
    opacity: 0.7;
    color: #000;
}
.section-left h2{
    margin-top: 10%;
    margin-left: 15%;
    font-size: 28px;
    font-weight: 600;
    color: #000;
    font-family: 'poppins', sans-serif;
}
.section-left .line{
    margin-bottom:5%;
    font-size: 16px;
    width: 60%;
    margin-left: 20%;

}
.section-left-middle,.section-right-middle{
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section-right-middle h1{
    font-size: 180px;
    margin-top: 30%;
    margin-right: 30%;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
}
.section-left-middle h1{
    text-align: center;
    margin-bottom: 15%;
    margin-left: 110%;
    font-size: 180px;
    font-weight: 600;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px white;
     background: url('https://images.pexels.com/photos/2693529/pexels-photo-2693529.jpeg');
    background-size: cover;   
    background-position: center;  

    -webkit-background-clip: text;
    background-clip: text;
}
