@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#a6be41;
  overflow:hidden;
}

.menu{
  height:70px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 40px;
  text-transform:uppercase;
  font-weight:bold;
}
.menu-center{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
}

.hero{
  position:relative;
  height:100vh;
}

.images{
  position:absolute;
  width:100%;
  height:100%;
}

.img{
  position:absolute;
  width:350px;
  height:500px;
  top:10%;
  transform:translateY(-40%);
  background-size:cover;
  background-position:center;
}

.left{
  left:17%;
  transform: rotate(-8deg);
  background-image:url("guava4.jpg");
}

.right{
  right:17%;
  transform: rotate(8deg);
  background-image:url("guava.jpg");
}

.center-img{
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%);
  width:400px;
  height:400px;
  overflow:hidden;
  z-index: 3;
}

.main-img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.box{
  position:absolute;
  inset:0;
  background:#9aa669;
  z-index:2;
}

.title{
  top: 30%;
  left: 25%;
  position:relative;
  z-index:4;
  font-family: "Bodoni Moda", serif;
  font-size: 170px;
  font-weight: 400;
  letter-spacing: 6px;
  background: linear-gradient(180deg, #b0df14, #edf01c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  line-height: 1;
  text-transform: lowercase;
  pointer-events: none;
}

.img,
.main-img{
  transition: all 0.6s ease;
  cursor: pointer;
}
.img:hover{
  transform: translateY(-50%) scale(1.05) rotate(0deg);
  box-shadow: 0 30px 60px rgba(94,143,30,0.4);
}

.main-img:hover{
  transform: scale(1.08);
}.overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.6);
  display:none;
  z-index:10;
}

.overlay.active{
  display:block;
}
.menu div{
  position:relative;
}

.menu div::after{
  content:"";
  position:absolute;
  width:0;
  height:2px;
  background:black;
  bottom:-6px;
  left:0;
  transition:0.4s;
}

.menu div:hover::after{
  width:100%;
}
