@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
    font-family: 'Permanent';
    overflow: hidden;
    cursor: pointer;
    background-color: pink;
}
a{
    text-decoration:none;
    color: #000;
    font-size: 15px;
    font-weight: 500;
}
img{
  width: 100%;
  height: 100%;
}
nav{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em;
  display: flex;
}
nav .logo a{
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
nav > div{
  flex: 1;
}
nav .nav-item{
  display: flex;
  gap: 2.5em;
  justify-content: center;
}
nav .nav-item a{
  font-size: 25px;
  font-family: monospace;
}
nav .contact{
  display: flex;
  justify-content: flex-end;
}
nav .contact a{
  font-family: monospace;
  font-size: 25px;
}
.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.items{
  width: 100%;
  display: flex;
}
.items-col{
  flex: 1;
  display: flex;
}
.item-side{
  position: relative;
  top:25vh;
  height: 370px;
  width: 200px;
  flex:1;
  display: flex;
  flex-direction: column;
}
.item-copy{
  padding:0.5em;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item-copy-wrapper{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0%  100%);
}
.item-copy-wrapper p{
  position: relative;
  margin-bottom: 0.30em;
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  line-height: 100%;
}
.item-side .item-img{
  flex: 1;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0,0 0);
}
.items-col:nth-child(2){
  flex: 0 0 300px;
  display: flex;
  justify-content: center;
}
.item-main{
  position: relative;
  top: 15vh;
  width: 300px;
  height: 550px;
  overflow: hidden;
}

.item-main .item-img{
  overflow: hidden;
}
.item-main .item-img img{
  transform: scale(0.5);
  clip-path: polygon(0 50%, 50% 50%, 50% 50%, 50% 50%);
}

.header{
  position: absolute;
  bottom: 30%;
  transform-origin: center center;
  width: 100%;
  display: flex;
}
.header-item{
  position: relative;
  flex:1;
  display: flex;
  justify-content: center;
  transform: scale(0.25);
}
.header-item-1{
  left: 18vw;
}
.header-item-2{
  right: 18vw;
}
.letter{
  flex: 1;
  font-size: 15vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}