* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
body{
    opacity: 1;
    transition: opacity 0.6s ease;
}
.page-loader{
    position: fixed;
    inset: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.page-loader img{
    width: 350px;
    height: 300px;
}

.page-loader.active{
    opacity: 1;
    pointer-events: all;
}

.home-page .container{
    background-color: antiquewhite;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.box{
    display: flex;
    width: 90%;
    max-width: 1400px;
    height: 95vh;
    border: 3px solid black;
    border-radius: 40px;
}
.bottle1,
.bottle2,
.bottle3,
.bottle4{
    overflow: hidden;
    border-radius: 40px;

}
.bottle1{
    position: relative;
    width: 25%;
    height: 100%;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background 2s ease;
}
.bottle1.active{
    background-color: #a6be41;
    background-image: url("guava.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.bottle2{
    width: 25%;
    height: 100%;
    transition: background 2s ease;
}
.bottle2.active{
    background-color:#c590b9 ;
    background-image: url("blueberry.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.bottle3{
    width: 25%;
    height: 100%;
    transition: background 2s ease;
}
.bottle3.active{
    background-color:#d0677e ;
    background-image: url("Strawberry.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.bottle4{
    width: 25%;
    height: 100%;
    transition: background 2s ease;
}
.bottle4.active{
    background-color:#d26307 ;
    background-image: url("orange.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.bottle1 h1,
.bottle1 h2,
.bottle1 h3{
    text-align: center;
}

/*h1*/
.bottle1 h1,
.bottle2 h1,
.bottle3 h1,
.bottle4 h1{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*h3*/
.bottle1 h3,
.bottle2 h3,
.bottle3 h3,
.bottle4 h3{
    font-size: 25px;
    font-weight: 100;
}
.text-content  .btn1,
.text-content .btn2,
.text-content .btn3,
.text-content .btn4{
    width: 20vh;
    height: 45px;
    border-radius: 30px;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn1 i,
.btn2 i,
.btn3 i,
.btn4 i{
    font-size: 20px;
}
.bottle2, .bottle3, .bottle4{
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn1:hover{
    background-color: #a6be41;
}
.btn2:hover{
    background-color: purple;
    color: aliceblue;
}
.btn3:hover{
    background-color: #d0677e ;
    color: aliceblue;
}
.btn4:hover{
    background-color: rgb(227, 88, 12);
    color: aliceblue;
}
.text-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    transition: transform 3s ease;
}
.bottle1.active .text-content{
    transform: translateY(180px);
}
.bottle2.active .text-content{
    transform: translateY(180px);
}
.bottle3.active .text-content{
    transform: translateY(180px);
}
.bottle4.active .text-content{
    transform: translateY(180px);
}

